{% extends "base.html" %}

{% load render_table from django_tables2 %}

{% block title %} - Articles{% endblock %}

{% block body %}
<form class="form-inline">
  <div class="my-0 mx-5" style="width:100%;">
    <input type="text" id="title" placeholder="Title" name="title">
    <input type="text" id="source" placeholder="Source" name="source">
    <input placeholder="Published since" name="publish_date" type="text" onfocus="(this.type='date')" id="publish_date">
    <label style="color:white;text-align:left;vertical-align:0;"><input type="checkbox" id="moves" name="moves"/>Exclude moves?</label>
    <button type="submit">Apply filters</button>
  </div>
</form>
{% endblock %}

{% block content %}

{% if message %}
  <h3>{{ message }}</h3>
{% endif %}

<form method="post" id="useful">
  {% csrf_token %}
  <div style="overflow: auto;">
    <div style="width: 1250px;">
    {% render_table table %}
    </div>
  </div>
  {{ buttons |safe }}
</form>
<script type="text/javascript">
  window.onload = () => {
    var url = new URL(window.location.href);
    var title = url.searchParams.get("title");
    var source = url.searchParams.get("source");
    var publish_date = url.searchParams.get("publish_date");
    var moves = url.searchParams.get("moves");
    document.getElementById('title').value = title;
    document.getElementById('source').value = source;
    document.getElementById('publish_date').value = publish_date;
    document.getElementById('moves').checked = moves;
  }
  function toggle(source) {
    checkboxes = document.getElementsByName('select');
    for (var i in checkboxes)
      checkboxes[i].checked = source.checked;
  }
</script>
{% endblock %}
