export GFM_UTILS=

# Django secret key (this can be literally anything, but should secure for live)
# https://humberto.io/blog/tldr-generate-django-secret-key/
SECRET_KEY=
# It can be set dynamically in Python by doing:
# import secrets
# SECRET_KEY = secrets.token_urlsafe(bytes=50)
# in vision/settings/common.py

DB_NAME="vision"
DB_ENGINE="django.db.backends.mysql"
# Database settings - LEAVE DEFAULT WHEN USING DOCKER
DB_USER="django"
DB_PW="djangopw"
DB_HOST="db"
DB_PORT="3306"

# News collection account settings
MELTWATER_USER=
MELTWATER_PW=

MS_USER=
MS_PW=
MS_MAILBOX="meltwater@globalfundmedia.com"

# API keys
AC_KEY=
APOLLO_KEY=
OPENAI_KEY=

# AWS credentials - NOT CURRENTLY USED
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET_NAME=