{% extends 'data/form.html' %}

{% block form_fields %}
{{ form.as_p }}
{% endblock %}

{% block form_buttons %}
<button type="button" onclick="getReport();">Get report</button>
{% endblock %}

{% block scripts %}
<script>
function getReport() {
  let month = document.getElementById('id_month').value;
  let year = document.getElementById('id_year').value;

  $.ajax({
    "url": "/data_science/moves/" + year + '/' + month + '/',
    "method": "GET",
    "headers": {
      "X-CSRFToken": Cookies.get('csrftoken'),
    },
    "success": function(data, textStatus, xhr) {
      if (xhr.status != 200) {
        $("#notifications").append(`
          <div class="toast fade show bg-success" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
              <strong class="me-auto">Notification</strong>
              <small>{{ now }}</small>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body text-white">`
              + xhr.responseJSON['MESSAGE'] +
            `</div>
          </div>`
        );
      } else {
        let url = "/data_science/moves/" + year + '/' + month + '/';
        $.get(url, function(data)
        {
          location.replace(url);
        });
      }
    },
    "error": function(result) {
      console.log(result);
      $("#notifications").append(`
        <div class="toast fade show bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <strong class="me-auto">Notification</strong>
            <small>{{ now }}</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body text-white">`
            + result.responseJSON['MESSAGE'] +
          `</div>
        </div>`
      );
    }
  });
}
</script>
{% endblock %}
