{% extends 'data/form.html' %}

{% block messages %}
<h3 style="text-align:center;">{{ message|safe }}</h3>
{% endblock %}

{% block scripts %}
<script>
$(function() {

  $(document).ready(function() {
    $('.js-data-example-ajax').select2({
      ajax: {
        url: '/data/company_ids',
        dataType: 'json',
        // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
        delay: 1000,
        data: function (params) {
          return {
            gfm_id: params.term
          };
        },
        processResults: function (data, params) {
          // parse the results into the format expected by Select2
          var results = [];

          $.each(data.company_ids, function(i, item) {
            results[i] = {
              id: item.id,
              text: item.gfm_id + (item.name ? (' (' + item.name + ')') : '')
            }
          });

          return {
            results: results,
            pagination: {
              more: false
            }
          };
        },
        cache: true
      },
      placeholder: 'Search for a company',
      minimumInputLength: 3,
    });
  });
});
</script>
{% endblock %}