{% extends "data/table.html" %}

{% block title %}
 - {{ company }} Employees
{% endblock %}

{% block message %}
<input class="btn btn-dark" type="button" value="Previous page" onClick="javascript:history.go(-1);">
<hr>
<h3>Viewing {{ count }} employees of {{ company }}</h3>
{% endblock %}

{% block form %}
<input type="text" id="firstname" placeholder="First name" name="firstname">
<input type="text" id="lastname" placeholder="Last name" name="lastname">
<input type="text" id="role" placeholder="Current position" name="role">
<input type="text" id="profile" placeholder="Linkedin profile" name="profile">
<select id="jobcategory" name="jobcategory">
  <option value="" selected>Job category</option>
  {% for jobcategory in jobcategories %}
  <option value="{{ jobcategory.pk }}">{{ jobcategory.category }}</option>
  {% endfor %}
</select>
<label style="color:white;text-align:left;vertical-align:0;"><input type="checkbox" id="showall" name="showall"/>Show all current contacts</label>
<label style="color:white;text-align:left;vertical-align:0;"><input type="checkbox" id="fuzz" name="fuzz"/>Include fuzzy contacts</label>
<button type="submit">Apply filters</button>
{% endblock %}

{% block script %}
<script type="text/javascript">
  window.onload = () => {
    var url = new URL(window.location.href);
    var firstname = url.searchParams.get("firstname");
    var lastname = url.searchParams.get("lastname");
    var role = url.searchParams.get("role");
    var jobcategory = url.searchParams.get("jobcategory");
    var showall = url.searchParams.get("showall");
    var fuzz = url.searchParams.get("fuzz");
    document.getElementById('firstname').value = firstname;
    document.getElementById('lastname').value = lastname;
    document.getElementById('role').value = role;
    document.getElementById('jobcategory').value = jobcategory;
    document.getElementById('showall').checked = showall;
    document.getElementById('fuzz').checked = fuzz;
  }
</script>
{% endblock %}
