{% extends "base.html" %}

{% block head %}
{{ form.media }}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
{% endblock %}
{% block content %}
  {% block messages %}{% endblock %}
  <form method="post" class="gfm-form" enctype="multipart/form-data">
    <table class="center">
      {% csrf_token %}
      {% block form_fields %}
      {{ form.as_p }}
      {% endblock %}
    </table>
    {% block form_buttons %}
    <button type="submit" id="submit">Submit</button>
    <button type="submit" id="cancel" name="cancel" formnovalidate>Cancel</button>
    {% endblock %}
    </form>
{% endblock %}

{% block scripts %}
<script>
$(function() {

  $(document).ready(function() {
    $('.js-data-example-ajax').select2({
      ajax: {
        url: '/data/company_names',
        dataType: 'json',
        // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
        delay: 1000,
        data: function (params) {
          return {
            name: params.term
          };
        },
        processResults: function (data, params) {
          // parse the results into the format expected by Select2
          var results = [];

          $.each(data.names, function(i, item) {
            results[i] = {
              id: item.id,
              text: item.name
            }
          });

          return {
            results: results,
            pagination: {
              more: false
            }
          };
        },
        cache: true
      },
      placeholder: 'Search for a company',
      minimumInputLength: 2,
    });
  });
});
</script>
{% endblock %}