{% extends "data/table.html" %}

{% block title %}
 - People
{% endblock %}

{% block form %}
<input type="text" id="firstname" placeholder="First name" name="firstname">
<input type="text" id="lastname" placeholder="Last name" name="lastname">
<input type="text" id="email" placeholder="Email address" name="email">
<input type="text" id="role" placeholder="Current position" name="role">
<input type="text" id="company" placeholder="Current company" name="company">
<input type="text" id="profile" placeholder="Linkedin profile" name="profile">
<select id="jobcategory" name="jobcategory">
  <option value="" selected>Job category</option>
  {% for jobcategory in jobcategories %}
  <option value="{{ jobcategory.pk }}">{{ jobcategory.category }}</option>
  {% endfor %}
</select>
<button type="submit">Apply filters</button>
<button type="button" onclick="window.location.href='/data/create_person/';">Create</button>
{% endblock %}

{% block message %}
<h3>{{ message }}</h3><br>
{% endblock %}

{% block script %}
<script type="text/javascript">
  window.onload = () => {
    var url = new URL(window.location.href);
    var firstname = url.searchParams.get("firstname");
    var lastname = url.searchParams.get("lastname");
    var email = url.searchParams.get("email");
    var role = url.searchParams.get("role");
    var company = url.searchParams.get("company");
    var profile = url.searchParams.get("profile");
    var jobcategory = url.searchParams.get("jobcategory");
    document.getElementById('firstname').value = firstname;
    document.getElementById('lastname').value = lastname;
    document.getElementById('email').value = email;
    document.getElementById('role').value = role;
    document.getElementById('company').value = company;
    document.getElementById('profile').value = profile;
    document.getElementById('jobcategory').value = jobcategory;
  }
</script>
{% endblock %}
