{% extends "base.html" %}

{% load render_table from django_tables2 %}

{% block body %}
<form class="form-inline">
  <div class="my-0 mx-5" style="width:100%;">
  {% block form %}
  {% endblock %}
  </div>
</form>
{% endblock %}

{% block content %}


{% block message %}
{% endblock %}

<form method="post" id="useful">
  {% csrf_token %}
  <div style="overflow: auto;">
  <div style="width: 1250px;">
    {% render_table table %}
  </div>
  </div>
  {{ buttons |safe }}
</form>
{% block script %}
{% endblock %}
{% endblock %}